body {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
width: 100%;
background-color: #efefef;
}

h1 {
  text-align: center;
}

.my-photo {
  background-image: url(../image/WP0o6c20aY4.jpg);
  width: 250px;
  height: 275px;
  background-size: cover;
  background-position-y: -121px;
  border: 1px solid #f5f3f8;
  border-radius: 30%;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.photo-and-contacts {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 20px solid #365972;
}

.contacts {
  margin-right: 440px;
}

